<div class="main">
  <div class="card">
    <h1 class="card-title">{{title}}</h1>
    <form [formGroup]="form">
      <app-form-field
        *ngFor="let input of inputs"
        [type]="input.type"
        [placeholder]="input.placeholder"
        [formConrol]="input.formControl"
        [icon]="input.icon"
        [messageErorFunc]="input.messageError"
      >
      </app-form-field>
      <div class="form-element">
        <a
          [routerLink]="['/auth/login']"
          class="link-secondary text-links">
          Войти в аккаунт
        </a>
      </div>
    </form>

    <button
      class="button-action"
      [disabled]="form.invalid"
      (click)="recover()"
      mat-flat-button
      color="primary">
      {{nameButton}}
    </button>
  </div>
</div>
