@import "../../../styles.scss";

//БЛОК КУРАТОРА-------------------------------------------------------
.search_panel {
  max-height: 50px;
}
.filter_block_curator {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 30px;
  .search_panel {
    flex-basis: auto;
    height: 50px;
    min-width: 250px !important;
    flex-grow: 0 !important;
  }
  @media screen and (max-width: 400px) {
    .search_panel {
      min-width: 100px !important;
    }
  }
}
.cards_curator {
  .card_label {
    text-align: left !important;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .failed_criteria {
    color: #ff0000 !important;
    font-weight: 600 !important;
  }
  .failed {
    background-color: #fff9fb !important;
    border: 1px solid #f16c6c !important;
  }
  .filter_button {
    padding: 0 40px;
  }
  .card {
    border: 1px solid #05ff00;
    .card_header {
      margin-bottom: 10px !important;
    }
    .card_body {
      .card_body_inner {
        display: flex;
        flex-direction: column;
        mat-card-subtitle {
          font-size: 14px !important;
        }
      }
    }
  }
  .card_body_first {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row !important;
    column-gap: 30px !important;
    row-gap: 5px !important;
  }
  .card_buttons {
    margin-top: 0px !important;
  }
  .fail_criteria {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    font-size: 18px !important;
    font-weight: 500 !important;
  }
  .card_body {
    flex-grow: 1;
    flex-basis: auto;
  }
  .card_block_with_image{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    .inner_card_label{
      flex-basis: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .card_block_with_image_left{
      display: flex;
      flex-direction: column;
      row-gap: 30px;
    }
  }
  @media screen and (max-width: 1050px){
    .card_body_first{
      justify-content: space-between;
    }
    .card_body_inner{
      flex-basis: 40%;
      flex-grow: 1;
    }
  }
  @media screen and (max-width: 650px) {
    .card_block_with_image {
      flex-direction: column-reverse;
      row-gap: 20px;
      .inner_card_label {
        .filter_button {
          padding: 0 100px;
        }
        img {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
  @media screen and (max-width: 500px){
    .card_body_first{
      .card_body_inner{
        display: flex;
        align-items: center;
        flex-basis: 100%;
      }
    }
  }
  @media screen and (max-width: 400px){
    .card_body_first{
      align-items: left;
    }
    .card_label {
      margin-left: 20% !important;
    }
  }
}

