<div class="main">
  <div class="card">
    <h1 class="card-title">{{title}}</h1>
    <h2 class="card-subtitle">{{subtitle}}</h2>
    <form [formGroup]="form">
      <app-form-field *ngFor="let input of inputs2" [type]="input.type" [placeholder]="input.placeholder"
        [formConrol]="input.formControl" [icon]="input.icon" [messageErorFunc]="input.messageError">
      </app-form-field>
      <div class="block">
        <app-form-field class="date_type" [type]="date.type" [placeholder]="date.placeholder"
          [formConrol]="date.formControl" [icon]="date.icon" [messageErorFunc]="date.messageError">
        </app-form-field>
        <div class="one_2_one">
          <ng-container *ngIf="countryInput">
            <input class="input_option_type" [type]="countryInput.type" [placeholder]="countryInput.label" matInput
              [formControl]="countryInput.formControl" [matAutocomplete]="autoco">
            <mat-autocomplete autoActiveFirstOption #autoco="matAutocomplete">
              <ng-container *ngFor="let option of countryInput.values | async">
                <mat-option [value]="option.name">
                  {{option.name}}
                </mat-option>
                <mat-divider></mat-divider>
              </ng-container>
            </mat-autocomplete>
            <mat-icon class="option_icon">{{countryInput.icon}}</mat-icon>
          </ng-container>
        </div>
      </div>
      <div class="block">
        <div *ngFor="let inp of regionCityInputs" class="one_2_one">
          <ng-container *ngIf="inp">
            <input (keyup)="onKeyup(inp.field)" class="input_option_type" [type]="inp.type" [placeholder]="inp.label"
              matInput [formControl]="inp.formControl" [matAutocomplete]="autoreg">
            <mat-autocomplete autoActiveFirstOption #autoreg="matAutocomplete">
              <ng-container *ngFor="let option of inp.values | async">
                <mat-option (click)="inp?.onClick(option)" [value]="option.name">
                  {{option.name}}
                </mat-option>
                <mat-divider></mat-divider>
              </ng-container>
            </mat-autocomplete>
            <mat-icon class="option_icon">{{inp.icon}}</mat-icon>
          </ng-container>
        </div>
      </div>

      <div class="one_2_one">
        <ng-container *ngIf="instituteInput">
          <input class="input_option_type" [type]="instituteInput.type" [placeholder]="instituteInput.label" matInput
            [formControl]="instituteInput.formControl" [matAutocomplete]="autoinst">
          <mat-autocomplete autoActiveFirstOption #autoinst="matAutocomplete">
            <ng-container *ngFor="let option of instituteInput.values | async">
              <mat-option [value]="option.name">
                {{option.name}}
              </mat-option>
              <mat-divider></mat-divider>
            </ng-container>
          </mat-autocomplete>
          <mat-icon class="option_icon">{{instituteInput.icon}}</mat-icon>
        </ng-container>
      </div>
      <div class="block">
        <div *ngFor="let inp of directionCourseInputs" class="one_2_one">
          <input class="input_option_type" [type]="inp.type" [placeholder]="inp.label" matInput
            [formControl]="inp.formControl" [matAutocomplete]="autodir">
          <mat-autocomplete autoActiveFirstOption #autodir="matAutocomplete">
            <ng-container *ngFor="let option of inp.values | async">
              <mat-option [value]="option.name">
                {{option.name}}
              </mat-option>
              <mat-divider></mat-divider>
            </ng-container>
          </mat-autocomplete>
          <mat-icon class="option_icon">{{inp.icon}}</mat-icon>
        </div>
      </div>
      <app-form-field *ngFor="let input of inputs" [type]="input.type" [placeholder]="input.placeholder"
        [formConrol]="input.formControl" [icon]="input.icon" [messageErorFunc]="input.messageError"></app-form-field>
      <div class="checkbox">
        <mat-checkbox [formControl]="checkbox" class="example-margin"><a style="color:#a6a6a6"
            href="https://clck.ru/34Xp4o">Согласие
            на обработку персональных данных</a></mat-checkbox>
        <div class="checkbox_warning" *ngIf="checkbox.invalid && checkbox.touched">Необходимо подвердить</div>
      </div>
    </form>
    <button class="button-action" [disabled]="form.invalid || checkbox.invalid" (click)="signup()" mat-flat-button
      color="primary">
      {{nameButton}}
    </button>
    <div class="text-links">
      Уже есть аккаунт?
      <a [routerLink]="['/auth/login']" class="link-primary">
        Войдите
      </a>
    </div>
  </div>
</div>
