<div class="container">
  <div *ngIf="!interning">Здесь ничего нет...</div>
  <mat-stepper *ngIf="interning" orientation="vertical">
    <mat-step *ngFor="let card of vacancy_cards">
      <ng-template matStepContent>
        <mat-card class="card">
          <div class="card_header">
            <mat-card-subtitle>{{interning.vacancy.name}}</mat-card-subtitle>
          </div>
          <div class="main_card_body">
            <div class="card_body">
              <mat-card-subtitle>Дата прохождения стажировки:
                <strong>{{interning.vacancy.date_begin | date:"dd.MM.yyyy"}} -
                  {{interning.vacancy.date_end | date:"dd.MM.yyyy"}}</strong></mat-card-subtitle>
              <mat-card-subtitle>Направление:
                <strong>{{interning.vacancy.organization.training_direction.name}}</strong></mat-card-subtitle>
              <mat-card-subtitle>Организация: <strong>{{interning.vacancy.organization.name}},
                  {{interning.vacancy.organization.address}} </strong></mat-card-subtitle>
            </div>
            <div class="card_body_nast_kur">
              <mat-card-subtitle>Наставник: <strong>{{getFullName(interning.vacancy)}}</strong></mat-card-subtitle>
            </div>
            <div class="card_buttons">
              <button matStepperNext mat-button [ngClass]="{'pass_the': pass_the}" class="filter_button"
                color="success">Продлить</button>
              <button *ngIf="interning.stage_id==7" mat-button [ngClass]="{'pass_the': pass_the}" class="filter_button" color="success"
                (click)="openDialog(id_zaglushka,interning.vacancy.organization.id, name_nast_zaglushka)">Отзыв</button>
            </div>
            <div class="phone">Телефон&nbsp;<div class="spusk"> для связи</div>:
              {{interning.vacancy.organization.phone}}</div>
          </div>
        </mat-card>
      </ng-template>
    </mat-step>
  </mat-stepper>
</div>
