@import "../../../styles.scss";
.block {
  display: flex;
  column-gap: 15px;
}

.one_2_one {
  flex-grow: 1;
  flex-basis: 100%;
}

.three_2_one {
  flex-grow: 3;
  flex-basis: 100%;
}

.one_2_three {
  flex-grow: 1;
}

.input_option_type {
  padding: 17px 0;
  height: 100%;
  width: 100%;
  flex: auto;
  border: none;
}

.one_2_one, .one_2_three, .three_2_one {
  flex-grow: 1;
  background: $color-light;
  display: flex;
  justify-content: space-between;
  border-radius: $input-group-border-radius;
  transition: $input-transition;
  padding: 0 $padding-20;
  align-items: center;
  input {
    transition: $input-transition;
    background: $color-light;
  }

}

.one_2_one:hover, .one_2_three:hover, .three_2_one:hover {
  background: $input-group-hover-background;
  input {
    background: $input-group-hover-background;
  }
}

.one_2_one:focus-within, .one_2_three:focus-within, .three_2_one:focus-within {
  background: $input-group-focus-within-background;
  input {
    background: $input-group-focus-within-background;
  }
}

.one_2_one, .one_2_three, .three_2_one {
  input::placeholder {
    color: $color-secondary;
  }
}

.input_option_type:focus-visible {
  outline: none;
}

.option_icon {
  color: $color-secondary;
}

.checkbox{
  margin: 0 20px;
  display: flex;
  text-align: left;
  flex-direction: column;
  position: relative;
}
.checkbox_warning{
  position: absolute;
  color: #f44336;
  font-size: 12px;
  top: 35px;
}
.date_type{

    flex-grow: 1;
    flex-basis: 110%;
}

@media screen and (max-width: 768px) {
    .block{
        flex-wrap: wrap;
        row-gap: 25px;
    }
	.one_2_one{
        flex-basis:100%;
    }
}
