<div class="container">
    <div class="cards">
        <mat-card class="card">
            <div class="card_header">
                <mat-card-subtitle>Тестирование по профилю</mat-card-subtitle>
                <div class="card_label">Балл: - </div>
            </div>
            <div class="main_card_body">
                <div class="card_body">
                    <mat-card-subtitle>Дата прохождения тестирования: <strong>27.05.2023-28.05.2023</strong></mat-card-subtitle>
                </div>
                <div class="card_body">
                    <mat-card-subtitle> Организация: Агентство стратегических инициатив</mat-card-subtitle>
                    <mat-card-subtitle>Вакансия: Тестировщик</mat-card-subtitle>
                    <mat-card-subtitle> Наставник: Кощеев И.И.</mat-card-subtitle>
                </div>
                <div class="card_buttons">
                    <button mat-button [ngClass]="{'default': true}" class="filter_button" color="success">Пройти</button>
                </div>
            </div>
        </mat-card>
    </div>
</div>
