<div class="container">
  <mat-progress-spinner *ngIf="!loaded" mode="indeterminate">
  </mat-progress-spinner>
  <div *ngIf="loaded && empty">Здесь ничего нет...</div>
    <mat-card class="message" *ngFor="let not of nots| groupByDate">
      <span [ngStyle]="{'background-color': color}">{{not.key| date:'dd/MM/yyyy'}}</span>
        <mat-divider></mat-divider>
        <ng-container *ngFor="let n of not.value">
        <mat-card-header>
          <mat-card-subtitle>{{n.text}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          {{n.date_copy| date: 'hh:mm:ss'}}
          <div *ngIf="n.is_readed">, прочитано</div>
        </mat-card-actions>
        <mat-divider></mat-divider>
      </ng-container>
      </mat-card>
</div>
