//БЛОК HR-------------------------------------------------------

.filter_block_hr{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 30px;
    .search_panel{
      flex-basis: auto;
      min-width: 250px !important;
      flex-grow: 0 !important;
    }
    @media screen and (max-width: 400px){
      .search_panel{
        min-width: 100px !important;
      }
    }
  }
  
  .cards_hr{
    .card_label{
      text-align: left !important;
      display: flex;
      flex-direction: column;
      row-gap: 30px;
    }
    .failed_criteria{
      color: #FF0000 !important;
      font-weight: 600 !important;
    }
    .failed{
      background-color: #FFF9FB !important;
      border: 1px solid #F16C6C !important;
    }
    .filter_button{
      padding: 0 40px;
    }
    .card{
      border: 1px solid #05FF00;
      .card_header{
        margin-bottom: 10px !important;
      }
      .card_body{
        .card_body_inner{
          display: flex;
          flex-direction: column;
          mat-card-subtitle{
            font-size: 14px !important
          }
        }
      }
    }
    .card_body_first{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: row !important;
      column-gap: 30px !important;
      row-gap: 5px !important;
    }
    .card_buttons{
      margin-top: 0px !important;
    }
    .fail_criteria{
      margin-top: 10px;
      display: flex;
      justify-content: flex-end;
      font-size: 18px !important;
      font-weight: 500 !important;
    }
    .card_block_with_image{
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      column-gap: 30px;
      .inner_card_label{
        padding: 25px 10px;
        flex-basis: 20%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
        .text_under_image{
          text-align: center;
          font-size: 12px !important;
        }
        strong{
          font-size: 14px !important;
        }
      }
      .card_block_with_image_left{
        display: flex;
        justify-content: center;
        align-items: space-around;
        flex-direction: column;
        row-gap: 30px;
      }
    }
    .second_block{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .card_body{
        flex-grow: 3;
      }
      .new_block_donw_image{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5px;
        *{
          font-size: 17px !important;
        }
      }
    }
  
    @media screen and (max-width: 1050px){
      .card_body_first{
        justify-content: space-between;
      }
      .card_body_inner{
        flex-basis: 40%;
        flex-grow: 1;
      }
      .card_body{
        flex-grow: 2;
      }
      .new_block_donw_image{
        flex-grow: 2;
        flex-basis: 70%;
      }
    }
    @media screen and (max-width: 650px){
      .second_block{
        margin-top: 20px;
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 20px;
        .card_body{
          align-items: flex-start;
        }
      }
      .card_block_with_image{
        flex-direction: column-reverse;
        row-gap: 20px;
        .inner_card_label{
          .filter_button{
            padding: 0 100px;
          }
          img{
            width: 200px;
            height: 200px;
          }
        }
      }
    }
    @media screen and (max-width: 500px){
      .card_body_first{
        .card_body_inner{
          display: flex;
          align-items: center;
          flex-basis: 100%;
        }
      }
    }
    @media screen and (max-width: 400px){
      .card_body_first{
        align-items: left;
      }
      .card_label{
        margin-left: 20% !important;
      }
    }
  }
  