@import "../../../../styles.scss";    
.container{
flex-grow: 3;
display: flex;
flex-direction: column;
row-gap: 50px;
flex-basis: 70%;
.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 20px;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 700px;
    .card{
        background: #F9FFFD;
        box-shadow: 0px 0px 20px 3px rgba(82, 86, 85, 0.05);
        border: 1px solid #8FEFD2;
        border-radius: 30px;
        padding: 30px;
        flex-grow: 1;
        flex-basis: 100%;
        *{
            color: black;
            font-size: 14px;
            font-weight: 400;
        }
        strong{
            font-weight: 500;
        }
        .main_card_body{
            display: flex;
            flex-direction: column;
            row-gap: 15px;
        }
        .card_body{
            display: flex;
            flex-direction: column;
            row-gap: 5px;
        }
        .card_header{
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            mat-card-subtitle{
                font-weight: 500;
                font-size: 20px;
                flex-grow: 3;
                flex-basis: 70%;
            }
            .card_label{
                position: relative;
                flex-grow: 1;
                padding: 10px;
                bottom: 30px;
                left: 30px;
                padding-left: 15px;
                color: rgb(255, 255, 255);
                min-width: 110px;
                max-height: 40px;
                border-radius: 0px 30px 0px 10px;
            }
        }
        .card_buttons{
            display: flex;
            column-gap: 20px;
            margin-top: 80px;
        }
    }
    }
}
  
  .filter_buttons {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 20px;
  }

  .mat-success {
    border-radius: 65px;
    font-size: 20px;
    font-weight: 400;
    padding: 5px 100px;
  }

  .default {
    background-color: #FF9A24;
    color: white !important;
  }
  .pass_the{
    background-color: #FF9A24;
    color: white !important;
  }
  .passed{
    background-color: #05BFA8;
    color: white !important;
  }
  .not_passed{
    background-color: #BF0505;
    color: white !important;
  }

  @media screen and (max-width: 600px){
    .card{
        width: 100px;
    }
    .card_header{
        display: flex;
        flex-direction: column-reverse;
        .card_label{
            border-radius: 0;
            position:static;
            
            margin-left: 40%;
            min-width: 0px;
            flex-grow: 0;
        }
        mat-card-subtitle{
          font-size: 17px !important;
        }
    }   
    .card_buttons{
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        .filter_button{
            flex-grow: 1;
            min-width: 200px;
        }
    }
    .mat-success {
      padding: 5px 40px;
    }
  } 